/* body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
} */

/* ol,
ul {
  padding-left: 30px;
} */

/* .board-row:after {
  clear: both;
  content: "";
  display: table;
} */

/* .status {
  margin-bottom: 10px;
} */

.square {
  background: black;
  border: 1px solid #999;
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  height: 18px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 18px;
}

.square-two {
  background: white;
  color: white;
  border: 1px solid #999;
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  height: 18px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 18px;
}

*:focus {
  outline: none !important;
}

/* .kbd-navigation .square:focus {
  background: #ddd;
} */

.game {
  display: flex;
  flex-direction: row;
}

.my-grid {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  margin-top: 10%;
  margin-left: 10%;
}

.game-board {
}

.button-one {
  margin-left: 10%;
}

.button-two {
  margin-left: 3%;
}
